

.latest_para_button{
    display: flex;
    justify-content: space-between;
}

.latest_veiw_all_btn{
    border: none;
    width: 150px;
    height: 50px;
    color: #fff;
    background-color: blueviolet;
}

.arrow-right{
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    margin-left: 20px;
    
}

.Prodocut_card{
    width: 280px;
    height: 400px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    color: #fff;
    margin: 20px 0px;
    background-image:url('../../../public/images/black.jpg');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    background-color: #000;
}

.Blockchain{
    color: #fff;
}

.Blockchain_text{
    margin-top: 70px;
}

.vide_play_btn_div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.learn_more_btn{
    width: 150px;
    height: 50px;
    background-color: blueviolet;
    color: #fff;
    border-radius: 3px;
}

.BsPlayCircleFill{
    font-size: 40px;
    color: #fff;
    border-radius: 50%;
    background-color:blueviolet;
    cursor: pointer;
}